<div class="data_panel_container">
	<div class="toggle"></div>
	<div class="header">
	    <span class="alert">Datos filtrados</span>
	    <h3>{{name}}</h3>
	    <div class="timeframe"><em>{{dateMin}}</em> al <em>{{dateMax}}</em></div><!-- time-frame -->
	    <div class="view-controls">
	       
	        <span class="btn view-table active" type='table-container'>Tabla</span>
	        <span class="btn view-chart" type='chart-container'>Gráfica</span>
	       
	    </div>
	     <span class="btn view-map" type='chart-container'>Volver a Mapa</span>
	    <div class="btn view-mode">Enlarge</div> 
	</div><!-- tabla-header -->

	<div class="chart-container hide"></div>
	<div class="table-container"></div>
</div>

