<div class="data-numbers">
    <div class="tot-applications">
        <h4>{{name}}</h4>
        <span class="data"></span>
    </div><!-- tot-applications -->
    <div class="timeframe">
        <div class="btn">Últimos 7 días <!-- <span class="caret"></span>--></div>
        <span class="data"></span>
    </div><!-- time-frame -->
</div><!-- data-numbers -->
<div class="data-graph"></div>
<span class="more-info"><lang>Ampliar información</lang></span>
<span class="more-info hide"><lang>Ocultar información</lang></span>
