<div class="data-numbers" data-type='{{cons.TYPE_DISEASES}}'>
    <div class="tot-applications">
        <h4>{{name}}</h4>
        <span class="data"></span>
    </div><!-- tot-applications -->
    <div class="timeframe">
        <div class="btn">Últimos 7 días <!-- <span class="caret"></span>--></div>
        <span class="data"></span>
    </div><!-- time-frame -->
</div><!-- data-numbers -->
<div class="data-numbers" data-type='{{cons.TYPE_COMP}}'>
    <div class="tot-applications">
        <h4>Casos en 2013</h4>
        <span class="data" data-year="2013"></span>
    </div><!-- tot-applications -->
    <div class="tot-applications">
        <h4>Casos en 2014</h4>
        <span class="data 2014" data-year="2014"></span>
    </div><!-- tot-applications -->
</div><!-- data-numbers -->
<div class="data-graph"></div>
<span class="more-info"><lang>Ampliar información</lang></span>
<span class="more-info hide"><lang>Ocultar información</lang></span>
