<div class="headerContent">
  <h1>
    <a href="/" class="logo" jslink>
        <img src="/img/sanity/SA_logo_sanity-neg.svg" alt="CEPSA Pay">
    </a>
  </h1>
  <nav id="main-nav">
    <div class="inner">
        <ul>
          <li class="{{cons.TYPE_REG}} data">Datos</li>
          <li class="alerts">Alertas</li>
       
          <li class="socialalarm">Alarma social</li>
          <li class="indicators">Indicadores</li>
       </ul>
    </div>
  </nav>
 <!--  <a href="#" class="login">Usuario</a> -->
</div>