{{#diseases_noagg}}
<tr>
    <td>{{name}}</td>
    <td>{{user}}</td>
    <td>{{email}}</td>
    <td>{{date}}</td>
   
</tr>
{{/diseases_noagg}}

{{#diseases_prov}}
<tr>
    <td>{{name}}</td>
    <td class="textright">{{total}}</td>
</tr>
{{/diseases_prov}}

{{#diseases_region}}
<tr>
    <td>{{name}}</td>
    <td class="textright">{{total}}</td>
</tr>
{{/diseases_region}}


{{#comp_data}}
<tr>
    <td>{{name}}</td>
    <td class="textright">{{total_2013}}</td>
    <td class="textright">{{total_2014}}</td>
</tr>
{{/comp_data}}

