<div class="wrapper">
    <div class="inner">                                    
        <table class="">                                                 
            <thead class="table-header">
 
              {{#diseases_noagg}}
                <th>{{col1}}</th>
                <th>{{col2}}</th>
                <th>{{col3}}</th>
                <th>{{col4}}</th>
              {{/diseases_noagg}}

              {{#diseases_prov}}
                <th>{{col1}}</th>
                <th class="textright">{{col2}}</th>
              {{/diseases_prov}}

              {{#diseases_region}}
                <th>{{col1}}</th>
                <th class="textright">{{col2}}</th>
              {{/diseases_region}}

              {{#comp}}
                <th>{{col1}}</th>
                <th class="textright">{{col2}}</th>
                <th class="textright">{{col3}}</th>

              {{/comp}}

            </thead>

            <tbody> 
            </tbody>
      </table>
      <p class='error'>{{error}}</p>
  </div><!-- INNER -->
</div><!-- wrapper -->


