{{#registrations_noagg}}
<tr>
    <td>{{name}}</td>
    <td>{{user}}</td>
    <td>{{email}}</td>
    <td>{{date}}</td>
    <!-- <td> -->
      <!-- <span class="marker red">28</span>
      <span class="marker green">15</span>
      <span class="marker orange">41</span>
      <span class="marker grey">76</span> -->
    <!-- </td> -->
    <!-- <td></td>
    <td></td>
    <td></td> -->
</tr>
{{/registrations_noagg}}

{{#registrations_prov}}
<tr>
    <td>{{name}}</td>
    <td class="textright">{{total}}</td>
</tr>
{{/registrations_prov}}

{{#registrations_region}}
<tr>
    <td>{{name}}</td>
    <td class="textright">{{total}}</td>
</tr>
{{/registrations_region}}

{{#transaction_noagg}}
<tr>
    <td>{{name}}</td>
    <td>{{transaction_detail}}</td>
    <td>{{date_transaction}}</td>
    <td class="textright">{{n}}</td>
    <td>{{family}}</td>
    <td>{{type}}</td>
</tr>
{{/transaction_noagg}}

{{#transaction_prov}}
<tr>
    <td>{{name}}</td>
    <td class="textright">{{n}}</td>
</tr>
{{/transaction_prov}}

{{#transaction_region}}
<tr>
    <td>{{name}}</td>
    <td class="textright">{{n}}</td>
</tr>
{{/transaction_region}}



<!-- <tr>
    <td>Andalucía</td>
    <td>100</td>
    <td>
      <span class="marker red">28</span>
      <span class="marker green">15</span>
      <span class="marker orange">41</span>
      <span class="marker grey">76</span>
    </td>
    <td>50H / 50M</td>
    <td>27 años</td>
    <td>Sevilla</td>
</tr>
<tr>
    <td>Aragón</td>
    <td>100</td>
    <td><span class="grey marker">56</span></td>
    <td>50H / 50M</td>
    <td>37 años</td>
    <td>Zaragoza</td>
</tr>
<tr>
    <td>Asturias</td>
    <td>200</td>
    <td><span class="grey marker">72</span></td>
    <td>50H / 50M</td>
    <td>31 años</td>
    <td>Oviedo</td>
</tr>
<tr>
    <td>Islas Baleares</td>
    <td>100</td>
    <td><span class="grey marker">23</span></td>
    <td>150H / 50M</td>
    <td>38 años</td>
    <td>Ibiza</td>
</tr>
<tr>
    <td>Canarias</td>
    <td>289</td>
    <td><span class="grey marker">28</span></td>
    <td>50H / 50M</td>
    <td>47 años</td>
    <td>Las Palmas</td>
</tr>
<tr>
    <td>Cantabria</td>
    <td>29</td>
    <td><span class="grey marker">39</span></td>
    <td>210H / 79M</td>
    <td>32 años</td>
    <td>Santander</td>
</tr>
<tr>
    <td>Another one</td>
    <td>29</td>
    <td><span class="grey marker">39</span></td>
    <td>0H / 29M</td>
    <td>28 años</td>
    <td>Santander</td> 
</tr> -->